// Colors
$white: #ffffff;
$black: #000000;

$gray-background:       #eef2f4;
$gray-text:             #6e6e6f;
$navigation-text:       #4b4b4b;
$silver-text:           #a9a9a9;
$basket-background:     #f6f6f6;
$orange:                #ff6700;
$mine-shaft:            #262626;
$silver:                #cccccc;
$alto:                  #dddddd;
$icon-color:            #999999;
$placeholder-color:     #a6a6a6;
$advantages-background: #f6f8f9;
$news-title:            #939495;
$counter-color:         #8eb359;

// Sizes
$base-font-size: 14px;

$breakpoints: (
        "phone"       : 400px,
        "phone-wide"  : 480px,
        "phablet"     : 560px,
        "tablet-small": 640px,
        "tablet"      : 768px,
        "tablet-wide" : 1024px,
        "desktop"     : 1248px,
        "desktop-wide": 1440px
);

$content-size: 1140px;

// Fonts