.products-line-slider {
  &__navigation {
    align-items: center;
    justify-content: space-between;
    display: none;
    @media screen and (max-width: $tablet-size){
      display: flex;
    }
  }
  .product-prev {
    border-color: transparent;
    margin: 10px 15px 30px;
    @media screen and (max-width: 549px) {
      border-color: $alto;
      margin: 10px 0 30px;
    }
  }
  &__btn {
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid $alto;
    border-radius: 2px;
    z-index: 5;
  }
  &__icon {
    width: 15px;
    height: 15px;
    fill: $orange;
  }

  &__dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: $alto;
    display: block;
    position: absolute;
    bottom: -10px;
    z-index: 2;
  }

  .slick-active {
    .products-line-slider__dot {
      background-color: $orange;
    }
  }

}