.product {
  &-slider {
    margin-right: 15px;
    padding-left: 100px;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: $phone-size) {
      padding-left: 0;
      margin-right: 0;
    }
    &__img {
      height: auto;
      max-height: 100%;
      margin: 0 auto ;
      max-width: 100%;
      &-wrapper {
        outline: none;
      }
    }
  }
  &-slider-dots {
    left: 0;
    position: absolute;
    top: 0;
    width: 65px;
    max-height: 500px;
    @media screen and (max-width: $phone-size) {
      display: none;
    }
    &__btn {
      width: 65px;
      height: 65px;
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      &-icon {
        width: 30px;
        height: 30px;
        fill: $alto;
      }
    }
    &__item {
      width: 65px;
      height: 65px;
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 2px;
      margin-bottom: 10px;
      outline: none;
      &.slick-current {
        border-color: $orange;
      }
    }
    &__img {
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
    .slick-list {
      max-height: 230px;
    }
  }
}