.select {
  position: relative;
  &.select--open {
    .select {
      &__body {
        display: block;
      }
      &__icon {
        transform: rotate(180deg);
      }
    }
  }
  &__header {
    align-items: center;
    border-radius: 2px;
    border: 1px solid $alto;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    height: 40px;
    padding: 0 15px;
    & > * {
        margin-right: 10px;
        &:last-child { margin-right: 0; }
    }
    .select__header--multi {
      .select {
        &__current {
          font-weight: 700;
        }
      }
    }
  }
  &__description {
    @media screen and (max-width: $phone-size) {
      display: none;
    }
  }
  &__icon {
    width: 15px;
    height: 15px;
    fill: $orange;
    margin-left: auto;
  }
  &__body {
    background-color: $white;
    border: 1px solid $alto;
    border-top: 0;
    border-radius: 0 0 2px;
    display: none;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    width: auto;
    z-index: 1;
  }
  &-list {
    &__item {
      cursor: pointer;
      height: 40%;
      line-height: 40px;
      padding: 0 10px;
      &:hover {
        background-color: $gray-background;
      }
    }
  }
}