.logo {
  &__img {
    height: 50px;
    width: 150px;
  }
}

.advantages {
  align-items: center;
  display: flex;
  background-color: $advantages-background;
  padding: 20px;
  border-radius: 4px;
}

.advantage {
  align-items: center;
  display: flex;
  margin-right: 180px;
  &:last-child {
    margin-right: 0;
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: OpenSans-SemiBold;
  }
  &__icon {
    height: 50px;
    width: 50px;
    fill: $icon-color;
    margin-right: 20px;
  }
  &__descr {
    font-size: 12px;
    font-family: OpenSans-Regular;
    color: $gray-text;
  }
}

.s-light-bg {
  background-color: $advantages-background;
}

.text {
  line-height: 1.79;
}

.about {
  display: flex;
  & > * {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__body {
    flex: 1;
    .tab {
      & > * {
        margin: 15px 0;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &-navigation {
    flex: 0 0 255px;
    width: 255px;
    &__item {
      height: 50px;
      line-height: 48px;
      border-bottom: 2px solid $alto;
      font-family: OpenSans-Regular;
      padding-left: 10px;
      &:last-child {
        margin-right: 0;
      }
      &.tabs-navigation__item--active {
        border-bottom-color: $orange;
      }
    }
  }
}


