@import "content-block";
@import "about";
@import "pagination";
@import "select";

.logo {
  &__img {
    height: 50px;
    width: 150px;
  }
}

.mobile {
  &__logo {
    display: none;
    @media screen and (max-width: $phone-size){
      display: block;
    }
  }
}

.advantages {
  align-items: center;
  display: flex;
  background-color: $advantages-background;
  padding: 20px;
  border-radius: 4px;
  @media screen and (max-width: $tablet-size) {
    justify-content: space-between;
    padding: 20px 40px;
  }
  @media screen and (max-width: $phone-size) {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }
}

.advantage {
  align-items: center;
  display: flex;
  margin-right: 180px;
  @media screen and (max-width: $tablet-size) {
    flex-direction: column;
    text-align: center;
    margin-right: 0;
  }
  @media screen and (max-width: $phone-size) {
    flex-direction: row;
    text-align: left;
    margin-bottom: 10px;
  }
  &:last-child {
    margin-right: 0;
    @media screen and (max-width: $phone-size) {
      margin-bottom: 0;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: OpenSans-SemiBold;
  }
  &__icon {
    height: 50px;
    width: 50px;
    fill: $icon-color;
    margin-right: 20px;
    @media screen and (max-width: $tablet-size) {
      margin-right: 0px;
      margin-bottom: 10px;
    }
    @media screen and (max-width: $phone-size) {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
  &__descr {
    font-size: 12px;
    font-family: OpenSans-Regular;
    color: $gray-text;
  }
}

.s {
  &-advantages {
    padding: 0;
  }
  &-light-bg {
    background-color: $advantages-background;
  }
  &-border-bottom {
    position: relative;
    &:after {
      content: '';
      background-color: $alto;
      bottom: 0;
      left: 0;
      height: 1px;
      margin: 0 auto;
      max-width: 1110px;
      position: absolute;
      right: 0;
      width: 100%;
    }
  }
  &-brands {
    padding-bottom: 0px;
  }
  &-slider {
    outline: none;
  }
}

.text {
  line-height: 1.79;
  &-attention {
    border-left: 3px solid $orange;
    line-height: 1.79;
    margin-bottom: 45px;
    padding-left: 20px;
    font-family: OpenSans-Italic;
  }
}

.sandwich {
  cursor: pointer;
  height: 16px;
  position: relative;
  width: 20px;
  &__line {
    background-color: $white;
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all linear .4s;
    width: 100%;
    &--top {
      top: 0;
    }
    &--middle {
      top: 7px;
    }
    &--bottom {
      top: 14px;
    }
  }
}

.mobile-scroll {
  &-wrapper {
    margin: 0 -15px!important;
    overflow: auto;
  }
  &-inner {
    display: inline-block;
    padding: 0 15px;
    width: 100%;
  }
}

.breadcrumbs {
  padding-top: 30px;
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    align-items: center;
    display: flex;
    &:after {
      content: '';
      display: inline-block;
      background-image: url("../../../images/general/breadcrumbarrow.svg");
      margin: 0 10px;
      height: 11px;
      width: 16px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  &__link {
    color: $navigation-text;
    font-size: 12px;
    &:hover {
      text-decoration: underline;
    }
  }
  &__current {
    color: $navigation-text;
    font-size: 12px;
    font-weight: 600;
  }
}

.content-block {
  & > * {
      margin: 20px 0;
      &:first-child { margin-top: 0; }
      &:last-child { margin-bottom: 0; }
  }
}

.color {
  &-list {
    display: flex;
    flex-wrap: wrap;
    & > * {
      margin-right: 10px;
      margin-bottom: 10px;
    }
    &__item {
      width: 20px;
      height: 20px;
      border-radius: 2px;
      cursor: pointer;
      display: block;
      outline: none;
      padding: 1px;
      position: relative;
      &:before {
        content: '';
        border: 1px solid $mine-shaft;
        border-radius: 2px;
        bottom: -2px;
        display: none;
        left: -2px;
        position: absolute;
        right: -2px;
        top: -2px;
      }
      &.color-list__item {
        &--white {
          box-shadow: inset 0 0 2px 1px rgba($alto, 1);
        }
        &--active {
          &:before {
            display: block;
          }
        }
      }
    }
  }

}