.logo {
  &__img {
    height: 50px;
    width: 150px;
  }
}

.advantages {
  align-items: center;
  display: flex;
  background-color: $advantages-background;
  padding: 20px;
  border-radius: 4px;
}

.advantage {
  align-items: center;
  display: flex;
  margin-right: 180px;
  &:last-child {
    margin-right: 0;
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: OpenSans-SemiBold;
  }
  &__icon {
    height: 50px;
    width: 50px;
    fill: $icon-color;
    margin-right: 20px;
  }
  &__descr {
    font-size: 12px;
    font-family: OpenSans-Regular;
    color: $gray-text;
  }
}