@import "news";
@import "review";
@import "brands";

.information {
  display: flex;
  & > * {
    flex: 1;
    padding-right: 30px;
    &:last-child {
      padding-right: 0;
    }
  }
  &-item {
    &__footer {
      display: flex;
      & > * {
        margin-right: 5px;
        &:last-child { margin-right: 0; }
      }
    }
    &__body {
      height: 250px;
    }
    &__link {
      display: inline-block;
      color: $mine-shaft;
      border-bottom: 1px solid rgba(38, 38, 38, 0.15);
    }
    &__count {
      color: $counter-color;
    }
  }
}

