.btn {
  background-color: $white;
  border: 2px solid $orange;
  border-radius: 2px;
  line-height: 38px;
  font-family: OpenSans-SemiBold;
  font-weight: 600;
  color: $orange;
  height: 40px;
  padding: 0 20px;
  text-align: center;
  transition: all linear .3s;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  width: 100%;
  &:hover {
    background-color: $orange;
    color: $white;
  }
  &.btn {
    &--transparent {
      &-white {
        background-color: transparent;
        color: $white;
        border-color: $white;
        &:hover {
          background-color: $white;
          color: $navigation-text;
        }
      }
      &-gray {
        border-color: rgba(38, 38, 38, 0.15);
        background-color: transparent;
        color: $gray-text;
        &:hover {
          background-color: rgba(38, 38, 38, 0.15);
          color: $white;
        }
      }
    }
    &--bg {
      &-orange {
        color: $white;
        background-color: $orange;
      }
    }
    &--contour {
      &-gray {
        border: 2px solid $alto;
        color: $navigation-text;
        line-height: 36px;
        &:hover {
          color: $white;
          background-color: $alto;
        }
      }
    }
    &--round {
      border-radius: 20px;
    }
    &--inline {
      display: inline-block;
      width: auto;
    }
    &--small {
      line-height: 28px;
      height: 30px;
      padding: 0 15px;
    }
    &--big {
      line-height: 48px;
      height: 50px;
    }
  }
}